<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Register a band</h1>
    <!-- Prompt user for required fields for user type band -->
    <form action=""> <!-- Page will redirect to /band on submit -->
      *Username: <input type="text"><br>
      *Password: <input type="text"><br>
      *Band name: <input type="text"><br>
      *Contact: <input type="text"><br>
      Genre: <input type="text"><br>

      <br>*Required fields have been starred<br>

      <input type="submit" value="Register">
    </form>
  </body>
</html>
