<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Create a profile</h1>
    <!-- Prompt user for required fields for user type listener -->
    <form action=""> <!-- Page will redirect to /listener on submit -->
      *Username: <input type="text"><br>
      *Password: <input type="text"><br>
      *Email: <input type="text"><br>
      *Would you like to be sent a newsletter with updates on your favorite venues and bands?<br>
        <input type="radio" value="y">Yes<br>
        <input type="radio" value="n">No<br>

      <br>*Required fields have been starred<br>

      <input type="submit" value="Create profile">
    </form>
  </body>
</html>
