<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <!-- Display home page for listener -->
    <!-- Page will be customized for individual users -->
    <h1>Welcome, UserName</h1>
    This is the home page
    Your favorite bands: <!-- Display activity of favorite bands -->
    Your favorite venues: <!-- Display activity of favorite venues -->
    Performing nearby: <!-- Display list of nearby events (bands and venues) -->
    <input type="button" value="Search"> <!-- Search for bands/venues -->
  </body>
</html>
