<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Register a venue</h1>
    <!-- Prompt user for required fields for user type venue -->
    <form action=""> <!-- Page will redirect to /venue on submit -->
      *Username: <input type="text"><br>
      *Password: <input type="text"><br> <!-- Add password security requirements -->
      *Venue name: <input type="text"><br>
      *Location: <input type="text"><br>
      *Contact: <input type="text"><br>
      *Link: <input type="text"><br>
      Size (sq ft): <input type="text"><br>
      Capacity: <input type="text"><br>
      Accessibility: <input type="text"><br>

      <br>*Required fields have been starred<br>

      <input type="submit" value="Register">
    </form>
  </body>
</html>
